.progress {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30%;
  left: 40%;
  opacity: 0.2;
  display: table;
  
}
#pro{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
  opacity: 0.2;

}
.loading {
   width: 300px;
   height: 300px;
   border: 30px solid #000;
   border-right: 30px solid transparent;
   border-radius: 180px;
   animation: loading 1s linear infinite;
   position: absolute;
   top: 30%;
   left: 40%;
}
@keyframes loading {
0% {
}
50% {
  opacity: .6;
}
100% {
  transform: rotate(360deg);
  transform-origin: 50% 50%;
  opacity: .3;
}
}
video {
   width: 100%;
}
.transparent {
   opacity: 0.2;
}
