<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <title>プレゼンテーションチェッカー</title>
    <style type="text/css">
      .imagePreview {
      width: 30%;
      height: auto;
      background-position: center center;
      background-size: cover;
      -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
      display: inline-block;
      }
    </style>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
     function show() {
         var target_video = document.getElementById("iframe1")
         var target_button = document.getElementById("btn1")
         target_button.style.display = "inline"
         target_video.style.display = "inline"
     }
    </script>
  </head>
  <body style="background-color: #EEF9FF; color: #5B5B5B;">
    <div id=loading></div>
    <div id="progress">
      <p id="pro"></p>
    </div>
    <div id="all">

    <nav class="navbar navbar-light" style="background-color: #AAD6EC;">
      <div class="container">
        <a class="navbar-brand" href="/" style="font-size: 4vh;">プレゼンテーションチェッカー</a>
      </div>
    </nav>

    <div class="container">
      {% if not predicted %}

      <form id="uploadForm"  action="/" method="POST"  enctype="multipart/form-data">
        <h3>動画をアップロードしてください</h3>
        <div class="input-group">
          <label class="input-group-btn">
            <span class="btn btn-primary">
              ファイル選択<input type="file" name="file" id="file" style="display:none" onchange="show()">
            </span>
          </label>
          <input type="text" class="form-control" readonly="">
        </div>
        <video id="iframe1" controls autoplay muted loop style="display:none"></video><br>
        <input id="btn1" type="submit" accept="image/*;device=camera" name="picfile" value="アップロード" class="btn btn-lg btn-success" style="display:none">
      </form>

      <p style="color: {{color}};"> {{massege}} </p>

      {% endif %}

          <!-- ######################## RESULT BEGIN  ######################## -->
      <p>
        {% if now_loading %}

        {% elif predicted %}
        <script>
          $('#loading').attr("class", "");
          $('#progress').attr("class", "");
          $('#all').attr("class", "");
        </script>
        <video id="preview" src="/uploads/edited.mp4" title="edited.mp4" controls autoplay loop></video><br>
        <span style="font-size:2vw;">あなたの点数は</span>
        <span class="right"><span style="font-size:8vw;">{{total_score}}</span><span style="font-size:2vw;"> / 100</span></span>
        <br><br><br><br><br><br>
        <div class="box">
          <div class="center">視線</div>
          <span style="font-size:2.5vw">下を向かずに話せているか</span>
          <span class="right"><span style="font-size: 3vw;">{{pich_mean_score}}</span> / 30</span><hr>
          <span style="font-size:2.5vw">全体を見ているか</span>
          <span class="right"><span style="font-size: 3vw;">{{yaw_var_score}}</span> / 20</span>
        </div>
        <div class="box">
          <div class="center" style="color: navy">声</div>
          <span style="font-size:2.5vw">小さすぎないか</span>
          <span class="right"><span style="font-size: 3vw;">{{volume_mean_score}}</span> / 30</span><hr>
          <span style="font-size:2.5vw;">抑揚があるか</span>
          <span class="right"><span style="font-size: 3vw;">{{tone_var_score}}</span> / 20</span>
        </div>
        <img src={{plot_url}} alt="グラフ画像" title="グラフ画像" style="width: 30%;">
        <a href="/uploads/edited.mp4" download="edited.mp4">ダウンロード</a>
        {% endif %}
      </p>
      <!-- ######################## RESULT END######################## -->

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script>
        $(document).on('change', ':file', function() {
        var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.parent().parent().next(':text').val(label);
        });

        $('#btn1').on('click', function (){
          $('#loading').attr("class", "loading");
          $('#progress').attr("class", "progress");
          $('#all').attr("class", "transparent")
          setInterval(function(){
            $.ajax({
              url: '{{ url_for('progress') }}',
              contentType: 'application/json;charset=UTF-8',
              type: 'POST'
            }).done(function(data){
              console.log(data);
              target = document.getElementById("pro")
              if(data.progress == 0 && data.frames == 0){
                target.innerText = "";
              }
              else{
              target.innerText = data.progress+ '/' +data.frames;
              }
            }).fail(function(){
              console.log('fail');
            });
          }, 1000);
        });
      </script>
      <script>
        $(function(){
          $('#file').change(function(e){
          var file = e.target.files[0];
          var reader = new FileReader();
          reader.onload = (function(file){
            return function(e){
              $("#iframe1").attr("src", e.target.result);
              $("#iframe1").attr("title", file.name);
            };
          })(file);
          reader.readAsDataURL(file);
          });
        });
       </script>
    </div>
  </body>
</html>
